# Backend
backend/venv/
backend/backend_debug.log
backend/temp_cookies.txt
backend/downloads/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env

# Root
downloads/
backend_debug.log
temp_cookies.txt
*.log
~ 

# OS specific files
.DS_Store
Thumbs.db

# Build artifacts and large binaries
dist/
build/
backend/ffmpeg/
*.exe
